.productListSection {
  justify-content: center;
  display: flex;
  padding-bottom: calc(var(--spacer) * 8);
}
.productListWrapper {
  width: 100%;
  max-width: var(--container);
  background-color: var(--white);
  padding: calc(var(--spacer) * 1.5) calc(var(--spacer) * 2);
  border-radius: var(--border-radius);
}

@media screen and (max-width: 320px) {
  .productListWrapper {
    padding: calc(var(--spacer) * 1.5) 0;
  }
}
